html,body,main,section,div {
  margin: 0;
  padding: 0;
}

body, main {
  overflow-x: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: pink;
}

h1 {
  width: 100vw;
  text-align: center;
}

img {
    height: 20vh;
}